<?xml version="1.0" encoding="utf-8"?>
<!-- Pls don't edit this file as it may brake the application -->
<!-- Settings are saved at %localappdata%\Marketwatch\Marketwatch.exe_Url_*\<Version>\user.config-->
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Marketwatch.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="256"/>
    </connectionManagement>
  </system.net>
  <userSettings>
    <Marketwatch.Properties.Settings>
      <setting name="currency" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="upgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="maxRequest" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="language" serializeAs="String">
        <value />
      </setting>
      <setting name="rememberLogin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="passwordEncrypted" serializeAs="String">
        <value />
      </setting>
      <setting name="entropy" serializeAs="String">
        <value />
      </setting>
      <setting name="autoUpdate" serializeAs="String">
        <value>True</value>
      </setting>
    </Marketwatch.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib;"/>
    </assemblyBinding>
  </runtime>
</configuration>
